@use '@/assets/styles/mixin.module.scss' as *;
@use '@/assets/styles/variables.module.scss' as *;
.btn {
    @include btn(176px, 42px, 3px, $primary_color);
    color: $white_color;
    font-weight: 300;
    font-size: 14px;
    width: 100%;
    cursor: pointer;
    &:hover {
        background-color: transparent;
        color: $primary_color;
        border: 1px solid $primary_color;
        transform: background-color 300ms;
    }
}

.btn1 {
    @include btn(176px, 42px, 3px, $white_color);
    color: $primary_color;
    font-weight: 300;
    font-size: 14px;
    width: 100%;
    cursor: pointer;
    &:hover {
        background-color: transparent;
        color: $primary_color;
        border: 1px solid $primary_color;
        transform: background-color 300ms;
    }
}
