@use '@styles/mixin.module.scss' as *;
@use '@styles/variables.module.scss' as *;

.container {
    padding-top: 83px;
}

.containerSteps {
    @include flex_box_custom(center, center, 0px);
    background-color: #fafafa;
    padding: 30px 0;
    flex-direction: column;
    .textNoti {
        font-size: 16px;
        color: $thr_color;
        margin-top: 35px;
    }
    .steps {
        @include flex_box_custom(center, center, 30px);
        .line {
            min-width: 120px;
            height: 1px;
            background-color: rgba(0, 0, 0, 0.067);
        }
    }
    .stepper {
        @include flex_box_custom(center, center, 10px);

        .numberStep {
            @include flex_box_custom(center, center, 0px);
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background-color: $primary-color;
            color: $white_color;
        }
        .isDisabledNumber {
            background-color: transparent;
            border: 1px solid #e1e1e1;
            color: #888;
        }
        .textSteps {
            color: $four-color;
            font-size: 16px;
        }
        .isDisabledText {
            color: #9a9a9a;
        }
    }
}

.containercontent {
    @include flex_box_custom(space-between, flex-start, 0px);
    margin-top: 30px;
    .boxFooter {
        @include flex_box_custom(space-between, center, 0px);
        margin: 20px 0;
        .boxCoupon {
            @include flex_box_custom(center, center, 0px);
            width: 100%;
            max-width: 400px;
            input {
                width: 350px;
                padding: 12px;
                border: 1px solid #ccc;
                border-radius: 1px;
                color: $secondary_color;
                border-radius: 2px;
            }
            .btnCoupon {
                max-width: 40px;
            }
        }
    }
    .cartTable {
        // width: 100%;
        margin: 0 auto;
        padding-bottom: 15px;
        border-bottom: 1px solid #e1e1e1;
        position: relative;

        table {
            width: 100%;
            border-collapse: collapse;
            text-align: left;

            thead {
                tr {
                    th {
                        padding: 10px 15px;
                        border-bottom: 1px solid #ccc;
                        font-size: 14px;
                        font-weight: 300;
                        text-align: center;
                    }

                    th:first-child {
                        padding-left: 0;
                        text-align: left;
                    }

                    th:last-child {
                        padding-right: 0;
                        text-align: right;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        padding: 15px;
                        vertical-align: top;
                        color: $secondary_color;
                        font-size: 14px;
                        font-weight: 300;

                        &:nth-child(1) {
                            display: flex;
                            padding-left: 0;
                            color: $four_color;
                            font-size: 16px;

                            img {
                                width: calc(100px - 0.71em);
                                margin-right: 10px;
                                border-radius: 2px;
                            }

                            div {
                                flex-grow: 1;

                                p:first-child {
                                    margin: 0;
                                }

                                p:last-child {
                                    font-size: 0.9em;
                                    color: #777;
                                }
                            }
                        }
                        &:nth-child(4) {
                            color: $thr_color;
                        }

                        &:nth-child(5) {
                            select {
                                width: 100%;
                                padding: 8px;
                                border: 1px solid #ccc;
                                border-radius: 1px;
                                color: $secondary_color;
                            }
                        }

                        &:last-child {
                            text-align: right;
                            padding-right: 0;
                        }
                    }
                }
            }
        }
        .loadingCart {
            @include flex_box_custom(center, center, 0px);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(235, 235, 235, 0.5);
        }
    }
    .containerRight {
        flex-grow: 1;
    }
    .containerSummary {
        border: 2px solid $four-color;
        padding: 40px;

        .title {
            padding-bottom: 10px;
            color: $thr_color;
        }

        .textTali {
            width: 100%;
            height: 1px;
            margin-bottom: 20px;
            background-color: $secondary_color;
        }

        .boxTotal {
            @include flex_box_custom(space-between, center, 0px);
            margin-bottom: 20px;
            color: $thr_color;
        }
        .boxTotal1 {
            @include flex_box_custom(space-between, center, 0px);
            margin-bottom: 20px;
            color: $four-color;
            font-size: 20px;
        }
        .space {
            height: 10px;
            width: 100%;
        }
    }

    .containermethods {
        padding: 25px 0;
        position: relative;
        border: 1px solid $four-color;
        margin-top: 40px;
        .titleMethods {
            position: absolute;
            top: -8px;
            transform: translateX(-50%);
            left: 45%;
            background-color: #fff;
            padding: 0 1px;
            text-transform: uppercase;
            font-size: 14px;
            span {
                color: #2d7e32;
            }
        }
        .boxImageMethods {
            @include flex_box_custom(center, center, 10px);
        }
        .imageMethods {
            border: 1px solid #e1e1e1;
            max-width: 50%;
            width: 50px;
            height: 34px;
            border-radius: 5px;
        }
    }
    .textSecure {
        font-size: 14px;
        color: $thr_color;
        text-align: center;
        margin-top: 10px;
    }
}

.boxNoProduct {
    @include flex_box_custom(center, center, 30px);
    flex-direction: column;
    margin-top: 40px;
    .itemCart {
        width: 60px;
        height: 60px;
    }
    .desCart {
        font-size: 24px;
        color: $primary_color;
    }
    .destitle {
        font-size: 14px;
        color: $thr_color;
    }
}
